<h1>Listado de Buildings</h1>
<table>
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Direccion</td>
      <td>Ciudad</td>
      <td>Departamentos</td>
    </tr>
  </thead>
  <tbody>
  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.name %></td>
      <td><%= building.address %></td>
      <td><%= building.city %></td>
      <td><input class="my_class" id="my_id" value="New" type="submit" /></td>
    </tr>
  <% end %>  
  </tbody>
</table>